body {
    font-family:'Times New Roman', Times, serif;
    background-color: goldenrod;
}
.header_div{
    background-color: snow;
    color:cyan;
}
.header_div p{
    color: rgb(183, 185, 32);
    font-size :50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}
.main_div button{
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
letter-spacing: 3px;
}
.copyrightfooter{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: aqua;
    line-height: 3px;
    text-align:center ;
}